@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  border-radius: 0;
}

textarea {
  resize: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  font-size: inherit;
  transition: transform 0.1s;
}
button:active {
  transform: translateY(2px);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

i {
  display: inline-block;
}

span {
  color: inherit;
  font-size: inherit;
}

:root {
  --color-main: #CF6F49;
  --color-main-light: #cf6f49b7;
  --color-white: #ffffff;
  --color-black: #2A2C1F;
  --color-gray: #65665C;
  --color-green: #65665C;
  --color-green-light: #939878;
  --color-background: #ffffff;
  --color-font: #2A2C1F;
  --font-family: "Roboto", sans-serif;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
}
.flex i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.unic-row {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1280px) {
  .unic-row {
    gap: calc(24px + 0 * (100vw - 320px) / 960);
  }
}
.unic-row__button {
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 1280px) {
  .unic-row__button {
    padding-top: calc(13px + 0 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .unic-row__button {
    padding-bottom: calc(13px + 0 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .unic-row__button {
    padding-left: calc(25px + 0 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .unic-row__button {
    padding-right: calc(25px + 0 * (100vw - 320px) / 960);
  }
}
.unic-row__span {
  margin-right: 8px;
}
.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 118.75%;
}
@media (max-width: 1280px) {
  .title {
    font-size: calc(28px + 20 * (100vw - 320px) / 960);
  }
}

.title-medium {
  font-size: 24px;
  font-weight: 700;
  line-height: 137.5%;
}
@media (max-width: 1280px) {
  .title-medium {
    font-size: calc(22px + 2 * (100vw - 320px) / 960);
  }
}

.title-little {
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
@media (max-width: 1280px) {
  .title-little {
    font-size: calc(18px + 2 * (100vw - 320px) / 960);
  }
}

.text {
  color: var(--color-gray);
  font-size: 18px;
  line-height: 150%;
}
@media (max-width: 1280px) {
  .text {
    font-size: calc(16px + 2 * (100vw - 320px) / 960);
  }
}

.text-medium {
  color: var(--color-black);
  font-size: 16px;
  line-height: 150%;
}
@media (max-width: 1280px) {
  .text-medium {
    font-size: calc(14px + 2 * (100vw - 320px) / 960);
  }
}
.text-medium.bold {
  font-weight: 700;
}
.text-medium.gray {
  color: var(--color-gray);
}

.text-little {
  color: var(--color-gray);
  font-size: 14px;
  line-height: 150%;
}
.text-little.bold {
  font-weight: 700;
}

.button {
  background-color: var(--color-main);
  border-radius: 6px;
  color: var(--color-white);
  font-size: 16px;
  line-height: 150%;
  padding-top: 9px;
  padding-bottom: 9px;
}
@media (max-width: 1280px) {
  .button {
    font-size: calc(14px + 2 * (100vw - 320px) / 960);
  }
}

.label {
  background-color: #e7e8e3;
  font-size: 14px;
  line-height: 150%;
  border-radius: 100vmax;
  display: inline-block;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

.form {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1280px) {
  .form {
    gap: calc(5px + 11 * (100vw - 320px) / 960);
  }
}
.form__item {
  background-color: var(--color-white);
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 19px;
  padding-right: 19px;
}
@media (max-width: 1280px) {
  .form__item {
    padding-top: calc(15px + 0 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .form__item {
    padding-bottom: calc(15px + 0 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .form__item {
    padding-left: calc(19px + 0 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .form__item {
    padding-right: calc(19px + 0 * (100vw - 320px) / 960);
  }
}
.form__icon {
  margin-right: 19px;
  display: flex;
  align-items: center;
}
@media (max-width: 1280px) {
  .form__icon {
    margin-right: calc(5px + 14 * (100vw - 320px) / 960);
  }
}
.form__number {
  width: 100%;
}
.form__button {
  padding-left: 18px;
  padding-right: 18px;
}
@media (max-width: 1280px) {
  .form__button {
    padding-left: calc(18px + 0 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .form__button {
    padding-right: calc(18px + 0 * (100vw - 320px) / 960);
  }
}

.main-decore__icon {
  position: absolute;
  z-index: 1;
}
.main-decore__icon svg {
  width: 135px;
  height: 135px;
  width: 135px;
  height: 135px;
}
@media (max-width: 1280px) {
  .main-decore__icon svg {
    width: calc(35px + 100 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .main-decore__icon svg {
    height: calc(35px + 100 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .main-decore__icon svg {
    width: calc(75px + 60 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .main-decore__icon svg {
    height: calc(75px + 60 * (100vw - 320px) / 960);
  }
}
.main-decore__icon.top-left {
  top: 0;
  left: 0;
  transform: rotate(180deg);
}
.main-decore__icon.bottom-right {
  bottom: 0;
  right: 0;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-family);
  color: var(--color-font);
  font-size: 16px;
}
body._lock-scroll {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

._container {
  padding: 0px 15px;
  margin: 0px auto;
  max-width: 1280px;
}

.page {
  flex: 1 1 auto;
}
.page:not(:last-child) {
  margin-bottom: 96px;
}
@media (max-width: 1280px) {
  .page:not(:last-child) {
    margin-bottom: calc(30px + 66 * (100vw - 320px) / 960);
  }
}

.banner {
  background-color: var(--color-green);
  padding-top: 10px;
  padding-bottom: 10px;
}
.banner__body {
  display: flex;
  align-items: center;
}
.banner__text {
  color: var(--color-white);
  margin-left: auto;
  margin-right: auto;
}
.header__body {
  min-height: 74px;
}
@media (max-width: 1280px) {
  .header__body {
    min-height: calc(54px + 20 * (100vw - 320px) / 960);
  }
}
.header__row {
  gap: 16px;
  margin-left: 24px;
}
@media (max-width: 1280px) {
  .header__row {
    gap: calc(10px + 6 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .header__row {
    margin-left: calc(14px + 10 * (100vw - 320px) / 960);
  }
}
@media (max-width: 479.98px) {
  .header__row {
    flex-direction: column;
    max-width: 150px;
    margin: 15px auto;
  }
}
@media (max-width: 479.98px) and (max-width: 1280px) {
  .header__row {
    max-width: calc(150px + 0 * (100vw - 320px) / 960);
  }
}
.header__cart {
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 21px;
  padding-right: 21px;
}
@media (max-width: 1280px) {
  .header__cart {
    padding-top: calc(10px + 0 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .header__cart {
    padding-bottom: calc(10px + 0 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .header__cart {
    padding-left: calc(21px + 0 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .header__cart {
    padding-right: calc(21px + 0 * (100vw - 320px) / 960);
  }
}
@media (max-width: 479.98px) {
  .header__cart {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.header__span {
  margin-left: 10px;
}
.header__button {
  padding-left: 21px;
  padding-right: 21px;
}
@media (max-width: 1280px) {
  .header__button {
    padding-left: calc(21px + 0 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .header__button {
    padding-right: calc(21px + 0 * (100vw - 320px) / 960);
  }
}

.header-menu__list {
  gap: 32px;
}
@media (max-width: 1280px) {
  .header-menu__list {
    gap: calc(0px + 32 * (100vw - 320px) / 960);
  }
}
.header-menu__link .spoiler {
  padding-right: 20px;
}
.header-menu__link .search {
  margin-left: 10px;
}
.header-logo {
  margin-right: auto;
}
@media (max-width: 479.98px) {
  .header-logo__span {
    display: none;
  }
}

.footer {
  padding-top: 44px;
}
@media (max-width: 1280px) {
  .footer {
    padding-top: calc(30px + 14 * (100vw - 320px) / 960);
  }
}
.footer__body {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 72px;
}
@media (max-width: 991.98px) {
  .footer__body {
    display: block;
  }
}
@media (max-width: 1280px) {
  .footer__body {
    gap: calc(5px + 25 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .footer__body {
    padding-bottom: calc(30px + 42 * (100vw - 320px) / 960);
  }
}
.footer__content {
  display: flex;
}
@media (max-width: 1157px) {
  .footer__content {
    display: block;
    margin-bottom: 15px;
  }
}
.footer-logo {
  margin-right: 96px;
}
@media (max-width: 1280px) {
  .footer-logo {
    margin-right: calc(5px + 91 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1157px) {
  .footer-logo {
    margin-bottom: 15px;
  }
}
.footer-menu__list {
  display: flex;
  gap: 32px;
}
@media (max-width: 1280px) {
  .footer-menu__list {
    gap: calc(5px + 27 * (100vw - 320px) / 960);
  }
}
@media (max-width: 479.98px) {
  .footer-menu__list {
    display: block;
  }
}
.footer-menu__item {
  min-width: 168px;
}
@media (max-width: 1280px) {
  .footer-menu__item {
    min-width: calc(128px + 40 * (100vw - 320px) / 960);
  }
}
@media (max-width: 479.98px) {
  .footer-menu__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.footer-menu__set {
  margin-bottom: 16px;
}
.footer-sublist__item {
  margin-bottom: 16px;
}
.footer-field__title:not(:last-child) {
  margin-bottom: 10px;
}
.footer-field__text {
  max-width: 379px;
}
.footer-field__text:not(:last-child) {
  margin-bottom: 13px;
}
.footer-field__form:not(:last-child) {
  margin-bottom: 16px;
}
.footer-field__privacy {
  display: flex;
  gap: 10px;
}
.footer-field__span {
  color: var(--color-gray);
  font-size: 12px;
  line-height: 150%;
}
.footer-field__link {
  color: var(--color-gray);
  font-size: 12px;
  line-height: 150%;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 27px;
  margin-bottom: 27px;
}
@media (max-width: 424.98px) {
  .footer-bottom {
    display: block;
  }
}
@media (max-width: 1280px) {
  .footer-bottom {
    margin-top: calc(17px + 10 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .footer-bottom {
    margin-bottom: calc(17px + 10 * (100vw - 320px) / 960);
  }
}
.footer-bottom__text {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 424.98px) {
  .footer-bottom__text {
    margin-bottom: 15px;
  }
}
.footer-socials {
  display: flex;
  align-items: center;
  gap: 19px;
}
@media (max-width: 479.98px) {
  [data-footer-accordion-content] {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    border-bottom: 1px solid var(--color-gray);
  }
}

[data-footer-accordion] i {
  transition: transform 0.3s;
}
@media (min-width: 479.98px) {
  [data-footer-accordion] i {
    display: none;
  }
}
[data-footer-accordion] i svg path {
  fill: var(--color-gray);
}
[data-footer-accordion]._active i {
  transform: rotate(180deg);
}

[data-footer-accordion-button] {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768.2px) {
  .menu {
    display: none;
  }
}

.popup-wrapper__shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 600;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.popup-wrapper__shadow._active {
  opacity: 1;
  pointer-events: all;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.popup._active {
  opacity: 1;
  pointer-events: all;
}
.popup._active .popup__body {
  transform: translateY(0%);
}
.popup__body {
  background-color: var(--color-background);
  max-width: 350px;
  border-radius: 5px;
  margin: auto;
  transform: translateY(-10%);
  transition: transform 0.3s;
}
@media (max-width: 480.2px) {
  .popup__body {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
  }
}
.popup__top {
  background-color: var(--color-main-light);
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.popup__logo {
  width: 94px;
}
@media (max-width: 1280px) {
  .popup__logo {
    width: calc(84px + 10 * (100vw - 320px) / 960);
  }
}
.popup__logo img {
  max-width: 100%;
}
.popup__close {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 35px;
  height: 35px;
  color: var(--color-main);
  border-radius: 5px;
}
@media (any-hover: hover) {
  .popup__close {
    transition: background-color 0.3s;
  }
  .popup__close:hover {
    background-color: var(--color-main-light);
  }
}
.popup__content {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.popup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.popup-form__item {
  background-color: var(--color-main-light);
  padding: 15px;
  border-radius: 5px;
}
.popup-form__input {
  background-color: transparent;
  width: 100%;
}
.popup-form__passwords {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.popup-form__password {
  background-color: var(--color-main-light);
  padding: 15px;
  border-radius: 5px;
}
.popup-form__link {
  color: var(--color-main);
  font-size: 12px;
}
.popup-form__button {
  color: var(--color-white);
  font-weight: 400;
  font-size: 16px;
  line-height: 118.75%;
  padding: 15px 25px;
  background: var(--color-main);
  border-radius: 6px;
  text-align: center;
  box-shadow: 4px px px px;
  width: 100%;
  font-weight: 500;
  transition: transform 0.1s;
}
.popup-form__button:active {
  transform: translateY(2px);
}
.popup-form__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  padding-top: 20px;
  border-top: 1px solid var(--color-main-light);
}
.popup-form__change {
  font-size: 14px;
  color: var(--color-main);
}

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
@media (max-width: 768.2px) {
  .header-wrapper._active {
    opacity: 1;
    pointer-events: all;
  }
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
@media (max-width: 768.2px) {
  .burger {
    display: block;
  }
}
.burger__icon {
  width: 26px;
  height: 22px;
  position: relative;
}
.burger__icon span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3.3px;
  background-color: var(--color-main);
  border-radius: 1px;
  top: 50%;
  transform: translateY(-50%);
}
.burger__icon span:first-child {
  top: 0;
  transform: none;
}
.burger__icon span:last-child {
  top: auto;
  bottom: 0;
  transform: none;
}

.burgmenu {
  overflow: auto;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  background-color: var(--color-background);
  width: 450px;
  transition: right 0.5s;
}
@media (max-width: 1280px) {
  .burgmenu {
    width: calc(250px + 200 * (100vw - 320px) / 960);
  }
}
@media (max-width: 768.2px) {
  .burgmenu._active {
    right: 0;
  }
}
.burgmenu__body .header-menu__list {
  display: block;
}
.burgmenu__body .header-menu__link {
  margin-right: 0;
  padding: 15px;
  border-bottom: 1px solid var(--color-main-light);
}
@media (max-width: 767.98px) {
  .burgmenu__body nav {
    display: block;
  }
}
.burgmenu__top {
  display: flex;
  padding: 16px;
  background-color: var(--color-main-light);
  display: flex;
  align-items: center;
}
.burgmenu__logo {
  width: 95px;
}
@media (max-width: 1280px) {
  .burgmenu__logo {
    width: calc(85px + 10 * (100vw - 320px) / 960);
  }
}
.burgmenu__logo img {
  max-width: 100%;
}
.burgmenu__close {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 20px;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  color: var(--color-black);
  flex: 1 1 auto;
}

._none {
  display: none;
}

.header-sublist {
  position: absolute;
  top: 80%;
  left: 0;
  padding: 10px;
  background-color: var(--color-background);
  transition: opacity 0.3s;
}
@media (min-width: 767.98px) {
  .header-sublist {
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
    border-radius: 5px;
  }
}
@media (max-width: 767.98px) {
  .header-sublist {
    position: static;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
}
.header-sublist__item {
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .header-sublist__item {
    border-bottom: 1px solid var(--color-background);
  }
}
.header-sublist__link {
  display: block;
  padding: 10px;
}
@media (max-width: 767.98px) {
  .header-sublist__link {
    padding: 15px;
  }
}
@media (min-width: 767.98px) {
  .header-sublist__link {
    border-radius: 5px;
  }
}
@media (any-hover: hover) {
  .header-sublist__link {
    transition: background-color 0.3s;
  }
  .header-sublist__link:hover {
    color: var(--color-black);
    background-color: var(--color-main-light);
  }
}
@media (max-width: 767.98px) {
  .header-sublist__link {
    background-color: var(--color-main-light);
  }
}

[data-header-accordion] {
  position: relative;
}
@media (max-width: 767.98px) {
  [data-header-accordion] {
    display: block;
  }
}
@media (any-hover: hover) {
  [data-header-accordion] {
    transition: transform 0.3s;
  }
  [data-header-accordion]:hover i {
    transform: rotate(180deg) translateY(50%);
  }
}
[data-header-accordion] i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  transition: transform 0.3s;
}
@media (max-width: 767.98px) {
  [data-header-accordion] i {
    right: 15px;
  }
}
[data-header-accordion] .header-menu__link {
  position: relative;
}
@media (max-width: 767.98px) {
  [data-header-accordion] .header-menu__link {
    display: block;
  }
}
[data-header-accordion]._active [data-header-accordion-content] {
  opacity: 1;
  pointer-events: auto;
}
[data-header-accordion]._active i {
  transform: rotate(180deg) translateY(50%);
}
@media (any-hover: hover) {
  [data-header-accordion]:hover [data-header-accordion-content] {
    opacity: 1;
    pointer-events: auto;
  }
}

.swiper {
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
}
@media (max-width: 1280px) {
  .swiper {
    padding-bottom: calc(30px + 10 * (100vw - 320px) / 960);
  }
}

.swiper-wrapper {
  display: inline-flex;
}

.swiper-pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  gap: 10px;
  display: flex;
  align-items: center;
}
.swiper-pagination swiper-pagination-bullet .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid var(--color-background);
  border-radius: 100vmax;
  cursor: pointer;
}
.swiper-pagination swiper-pagination-bullet-active .swiper-pagination-bullet-active {
  background-color: var(--color-background);
}

.preloader {
  background-color: var(--color-background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
}
.preloader._close {
  display: none;
}
.preloader__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.preloader__body svg * {
  fill: var(--color-main);
}

.main {
  background-color: #f5f5f2;
}
.main:not(:last-child) {
  margin-bottom: 77px;
}
@media (max-width: 1280px) {
  .main:not(:last-child) {
    margin-bottom: calc(30px + 47 * (100vw - 320px) / 960);
  }
}
@media (min-width: 767.98px) {
  .main__container {
    margin-left: max(0px, (100% - 1265px) / 2 - 80px);
  }
}
.main__body {
  display: flex;
}
@media (max-width: 767.98px) {
  .main__body {
    display: block;
  }
}
.main__info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 124px;
  padding-left: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 1280px) {
  .main__info {
    padding-right: calc(5px + 119 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1440px) {
  .main__info {
    padding-left: max(30px, (100% - 1295px) / 2);
  }
}
@media (max-width: 1280px) {
  .main__info {
    padding-top: calc(15px + 15 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .main__info {
    padding-bottom: calc(15px + 15 * (100vw - 320px) / 960);
  }
}
@media (max-width: 767.98px) {
  .main__info {
    padding-left: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767.98px) and (max-width: 1280px) {
  .main__info {
    padding-left: calc(15px + 65 * (100vw - 320px) / 960);
  }
}
@media (max-width: 767.98px) and (max-width: 1280px) {
  .main__info {
    padding-top: calc(15px + 65 * (100vw - 320px) / 960);
  }
}
@media (max-width: 767.98px) and (max-width: 1280px) {
  .main__info {
    padding-bottom: calc(15px + 65 * (100vw - 320px) / 960);
  }
}
.main__content {
  position: relative;
  z-index: 2;
}
.main__label {
  margin-right: auto;
}
.main__label:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 1280px) {
  .main__label:not(:last-child) {
    margin-bottom: calc(15px + 5 * (100vw - 320px) / 960);
  }
}
.main__title {
  font-size: 56px;
  line-height: 119.6428571429%;
  max-width: 516px;
}
@media (max-width: 1280px) {
  .main__title {
    font-size: calc(31px + 25 * (100vw - 320px) / 960);
  }
}
@media (min-width: 767.98px) {
  .main__title {
    font-size: 56px;
  }
}
@media (min-width: 767.98px) and (max-width: 1280px) {
  .main__title {
    font-size: calc(10px + 46 * (100vw - 320px) / 960);
  }
}
.main__title:not(:last-child) {
  margin-bottom: 21px;
}
@media (max-width: 1280px) {
  .main__title:not(:last-child) {
    margin-bottom: calc(15px + 6 * (100vw - 320px) / 960);
  }
}
.main__text {
  color: var(--color-gray);
  font-size: 20px;
  line-height: 150%;
  max-width: 503px;
}
@media (max-width: 1280px) {
  .main__text {
    font-size: calc(16px + 4 * (100vw - 320px) / 960);
  }
}
.main__text:not(:last-child) {
  margin-bottom: 21px;
}
@media (max-width: 1280px) {
  .main__text:not(:last-child) {
    margin-bottom: calc(15px + 6 * (100vw - 320px) / 960);
  }
}
.main__image {
  max-width: 720px;
}
@media (max-width: 1280px) {
  .main__image {
    max-width: calc(360px + 360 * (100vw - 320px) / 960);
  }
}
@media (max-width: 767.98px) {
  .main__image {
    max-width: 100%;
  }
}
.main__image img {
  width: 100%;
}
@media (max-width: 991.98px) {
  .main__image {
    position: relative;
    padding-right: 720px;
    overflow: hidden;
  }
}
@media (max-width: 991.98px) and (max-width: 1280px) {
  .main__image {
    padding-right: calc(50px + 670 * (100vw - 320px) / 960);
  }
}
@media (max-width: 991.98px) {
  .main__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 767.98px) {
  .main__image {
    padding-right: 100%;
    padding-bottom: 100%;
  }
}