@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  border-radius: 0;
}

textarea {
  resize: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  font-size: inherit;
  white-space: nowrap;
  transition: transform 0.1s;
}
button:active {
  transform: translateY(2px);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

i {
  display: inline-block;
}

span {
  color: inherit;
  font-size: inherit;
}

div {
  overflow-wrap: anywhere;
}

:root {
  --color-main: #CF6F49;
  --color-main-light: #cf6f49b7;
  --color-white: #ffffff;
  --color-black: #2A2C1F;
  --color-gray: #65665C;
  --color-green: #65665C;
  --color-green-light: #939878;
  --color-background: #ffffff;
  --color-font: #2A2C1F;
  --shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  --font-family: "Roboto", sans-serif;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
}
.flex i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1310px) {
  .row {
    gap: calc(15px + 9 * (100vw - 320px) / 990);
  }
}
@media (max-width: 424.98px) {
  .row {
    flex-direction: column;
  }
}
.row__button {
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 1310px) {
  .row__button {
    padding-top: calc(13px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .row__button {
    padding-bottom: calc(13px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .row__button {
    padding-left: calc(25px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .row__button {
    padding-right: calc(25px + 0 * (100vw - 320px) / 990);
  }
}
@media (any-hover: hover) {
  .row__button {
    transition: background-color 0.3s;
  }
  .row__button:hover {
    background-color: #f8f8f8;
  }
}
@media (any-hover: hover) {
  .row__set .row__span {
    transition: color 0.3s;
  }
  .row__set svg path {
    transition: fill 0.3s;
  }
  .row__set:hover svg path {
    fill: var(--color-main);
  }
  .row__set:hover .row__span {
    color: var(--color-main);
  }
}
.row__span {
  margin-right: 8px;
}
.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 118.75%;
}
@media (max-width: 1310px) {
  .title {
    font-size: calc(28px + 20 * (100vw - 320px) / 990);
  }
}

.title-medium {
  font-size: 24px;
  font-weight: 700;
  line-height: 137.5%;
}
@media (max-width: 1310px) {
  .title-medium {
    font-size: calc(22px + 2 * (100vw - 320px) / 990);
  }
}

.title-little {
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
@media (max-width: 1310px) {
  .title-little {
    font-size: calc(18px + 2 * (100vw - 320px) / 990);
  }
}

.text {
  color: var(--color-gray);
  font-size: 18px;
  line-height: 150%;
}
@media (max-width: 1310px) {
  .text {
    font-size: calc(16px + 2 * (100vw - 320px) / 990);
  }
}
.text.bold {
  font-weight: 700;
}
.text.black {
  color: var(--color-black);
}

.text-medium {
  color: var(--color-black);
  font-size: 16px;
  line-height: 150%;
}
@media (max-width: 1310px) {
  .text-medium {
    font-size: calc(14px + 2 * (100vw - 320px) / 990);
  }
}
.text-medium.bold {
  font-weight: 700;
}
.text-medium .black {
  color: var(--color-black);
}
.text-medium.gray {
  color: var(--color-gray);
}

.text-little {
  color: var(--color-gray);
  font-size: 14px;
  line-height: 150%;
}
.text-little.bold {
  font-weight: 700;
}

.button {
  background-color: var(--color-main);
  border-radius: 6px;
  color: var(--color-white);
  font-size: 16px;
  line-height: 150%;
  padding-top: 9px;
  padding-bottom: 9px;
}
@media (max-width: 1310px) {
  .button {
    font-size: calc(14px + 2 * (100vw - 320px) / 990);
  }
}
@media (any-hover: hover) {
  .button {
    transition: background-color 0.3s;
  }
  .button:hover {
    background-color: #dc7a53;
  }
}

.label {
  background-color: #e7e8e3;
  font-size: 14px;
  line-height: 150%;
  border-radius: 100vmax;
  display: inline-block;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

.form {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1310px) {
  .form {
    gap: calc(5px + 11 * (100vw - 320px) / 990);
  }
}
.form__item {
  background-color: var(--color-white);
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 19px;
  padding-right: 19px;
}
@media (max-width: 1310px) {
  .form__item {
    padding-top: calc(15px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .form__item {
    padding-bottom: calc(15px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .form__item {
    padding-left: calc(19px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .form__item {
    padding-right: calc(19px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 424.98px) {
  .form__item {
    width: 100%;
  }
}
.form__icon {
  margin-right: 19px;
  display: flex;
  align-items: center;
}
@media (max-width: 1310px) {
  .form__icon {
    margin-right: calc(5px + 14 * (100vw - 320px) / 990);
  }
}
.form__number {
  width: 100%;
}
.form__button {
  padding-left: 18px;
  padding-right: 18px;
}
@media (max-width: 1310px) {
  .form__button {
    padding-left: calc(18px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .form__button {
    padding-right: calc(18px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 424.98px) {
  .form__button {
    width: 100%;
  }
}

.decore__icon {
  position: absolute;
  z-index: 1;
}
.decore__icon svg {
  width: 135px;
  height: 135px;
  width: 135px;
  height: 135px;
}
@media (max-width: 1310px) {
  .decore__icon svg {
    width: calc(35px + 100 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .decore__icon svg {
    height: calc(35px + 100 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .decore__icon svg {
    width: calc(75px + 60 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .decore__icon svg {
    height: calc(75px + 60 * (100vw - 320px) / 990);
  }
}
.decore__icon.top-left {
  top: 0;
  left: 0;
  transform: rotate(180deg);
}
.decore__icon.bottom-right {
  bottom: -3px;
  right: 0;
}
.decore__icon.top-right {
  top: 0px;
  right: 0px;
  transform: rotate(-90deg);
}
.decore__icon.bottom-left {
  bottom: 0;
  left: 0;
  transform: rotate(90deg);
}

body {
  background-color: var(--color-background);
  font-family: var(--font-family);
  color: var(--color-font);
  font-size: 16px;
}
body._lock-scroll {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

._container {
  padding: 0px 15px;
  margin: 0px auto;
  max-width: 1310px;
}

.page {
  flex: 1 1 auto;
}
.page:not(:last-child) {
  margin-bottom: 96px;
}
@media (max-width: 1310px) {
  .page:not(:last-child) {
    margin-bottom: calc(30px + 66 * (100vw - 320px) / 990);
  }
}

.banner {
  background-color: var(--color-green);
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (any-hover: hover) {
  .banner {
    transition: background-color 0.3s;
  }
  .banner:hover {
    background-color: #6d6e64;
  }
}
.banner__body {
  display: flex;
  align-items: center;
}
.banner__text {
  color: var(--color-white);
  margin-left: auto;
  margin-right: auto;
}
.banner__icon svg path {
  transition: fill 0.3s;
}
@media (any-hover: hover) {
  .banner__icon:hover svg path {
    fill: var(--color-main);
  }
}

.header {
  position: relative;
  z-index: 100;
}
.header__body {
  min-height: 74px;
}
@media (max-width: 1310px) {
  .header__body {
    min-height: calc(54px + 20 * (100vw - 320px) / 990);
  }
}
.header__icon svg path {
  transition: fill 0.3s;
}
.header__row {
  gap: 16px;
  margin-left: 24px;
}
@media (max-width: 1310px) {
  .header__row {
    gap: calc(10px + 6 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .header__row {
    margin-left: calc(14px + 10 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) {
  .header__row {
    margin-right: 24px;
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .header__row {
    margin-right: calc(14px + 10 * (100vw - 320px) / 990);
  }
}
@media (max-width: 479.98px) {
  .header__row {
    flex-direction: column;
    max-width: 150px;
    margin: 15px auto;
  }
}
@media (max-width: 479.98px) and (max-width: 1310px) {
  .header__row {
    max-width: calc(150px + 0 * (100vw - 320px) / 990);
  }
}
.header__cart {
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 21px;
  padding-right: 21px;
}
@media (max-width: 1310px) {
  .header__cart {
    padding-top: calc(10px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .header__cart {
    padding-bottom: calc(10px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .header__cart {
    padding-left: calc(21px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .header__cart {
    padding-right: calc(21px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 479.98px) {
  .header__cart {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (any-hover: hover) {
  .header__cart {
    transition: background-color 0.3s;
  }
  .header__cart:hover {
    background-color: #f8f8f8;
  }
}
.header__span {
  margin-left: 10px;
}
.header__button {
  padding-left: 21px;
  padding-right: 21px;
}
@media (max-width: 1310px) {
  .header__button {
    padding-left: calc(21px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .header__button {
    padding-right: calc(21px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 479.98px) {
  .header__button {
    width: 100%;
  }
}

.header-menu__list {
  flex-wrap: wrap;
  gap: 32px;
}
@media (max-width: 1310px) {
  .header-menu__list {
    gap: calc(0px + 32 * (100vw - 320px) / 990);
  }
}
.header-menu__link .spoiler {
  padding-right: 20px;
}
.header-menu__link .search {
  margin-left: 10px;
}
@media (any-hover: hover) {
  .header-menu__link {
    transition: color 0.3s;
  }
  .header-menu__link:hover {
    color: var(--color-main);
  }
  .header-menu__link:hover svg path {
    fill: var(--color-main);
  }
}
.header-menu__icon svg path {
  transition: fill 0.3s;
}

.header-logo {
  margin-right: auto;
}
@media (max-width: 479.98px) {
  .header-logo__span {
    display: none;
  }
}

.footer {
  padding-top: 44px;
}
@media (max-width: 1310px) {
  .footer {
    padding-top: calc(30px + 14 * (100vw - 320px) / 990);
  }
}
.footer__body {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 72px;
}
@media (max-width: 991.98px) {
  .footer__body {
    display: block;
  }
}
@media (max-width: 1310px) {
  .footer__body {
    gap: calc(5px + 25 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .footer__body {
    padding-bottom: calc(30px + 42 * (100vw - 320px) / 990);
  }
}
.footer__content {
  display: flex;
}
@media (max-width: 1157px) {
  .footer__content {
    display: block;
    margin-bottom: 15px;
  }
}
.footer-logo {
  margin-right: 96px;
}
@media (max-width: 1310px) {
  .footer-logo {
    margin-right: calc(5px + 91 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1157px) {
  .footer-logo {
    margin-bottom: 15px;
  }
}
.footer-menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
@media (max-width: 1310px) {
  .footer-menu__list {
    gap: calc(5px + 27 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1023.98px) {
  .footer-menu__list {
    justify-content: space-between;
  }
}
@media (max-width: 479.98px) {
  .footer-menu__list {
    display: block;
  }
}
.footer-menu__item {
  min-width: 168px;
}
@media (max-width: 1310px) {
  .footer-menu__item {
    min-width: calc(128px + 40 * (100vw - 320px) / 990);
  }
}
@media (max-width: 479.98px) {
  .footer-menu__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.footer-menu__set {
  margin-bottom: 16px;
}
.footer-menu__span {
  max-width: 168px;
}
@media (max-width: 1310px) {
  .footer-menu__span {
    max-width: calc(128px + 40 * (100vw - 320px) / 990);
  }
}
.footer-sublist__item {
  margin-bottom: 16px;
}
@media (any-hover: hover) {
  .footer-sublist__item:hover {
    color: var(--color-main);
  }
}
.footer-sublist__link {
  transition: color 0.3s;
  max-width: 168px;
}
@media (max-width: 1310px) {
  .footer-sublist__link {
    max-width: calc(128px + 40 * (100vw - 320px) / 990);
  }
}

.footer-field__title:not(:last-child) {
  margin-bottom: 10px;
}
.footer-field__text {
  max-width: 379px;
}
.footer-field__text:not(:last-child) {
  margin-bottom: 13px;
}
.footer-field__form:not(:last-child) {
  margin-bottom: 16px;
}
.footer-field__privacy {
  display: flex;
  gap: 10px;
}
.footer-field__span {
  color: var(--color-gray);
  font-size: 12px;
  line-height: 150%;
}
.footer-field__link {
  color: var(--color-gray);
  font-size: 12px;
  line-height: 150%;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 27px;
  margin-bottom: 27px;
}
@media (max-width: 424.98px) {
  .footer-bottom {
    flex-direction: column;
  }
}
@media (max-width: 1310px) {
  .footer-bottom {
    margin-top: calc(17px + 10 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .footer-bottom {
    margin-bottom: calc(17px + 10 * (100vw - 320px) / 990);
  }
}
.footer-bottom__text {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 424.98px) {
  .footer-bottom__text {
    margin-bottom: 15px;
  }
}
@media (any-hover: hover) {
  .footer-bottom__link {
    transition: color 0.3s;
  }
  .footer-bottom__link:hover {
    color: var(--color-main);
  }
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 19px;
}
@media (any-hover: hover) {
  .footer-socials__icon svg path {
    transition: fill 0.3s;
  }
  .footer-socials__icon:hover svg path {
    fill: var(--color-main);
  }
}

@media (max-width: 479.98px) {
  [data-footer-accordion-content] {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    border-bottom: 1px solid #ecedee;
  }
}

[data-footer-accordion] i {
  transition: transform 0.3s;
}
@media (min-width: 479.98px) {
  [data-footer-accordion] i {
    display: none;
  }
}
[data-footer-accordion] i svg path {
  fill: var(--color-main);
}
[data-footer-accordion]._active i {
  transform: rotate(180deg);
}

[data-footer-accordion-button] {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768.2px) {
  .menu {
    display: none;
  }
}

.popup-wrapper__shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 600;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.popup-wrapper__shadow._active {
  opacity: 1;
  pointer-events: all;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.popup._active {
  opacity: 1;
  pointer-events: all;
}
.popup._active .popup__body {
  transform: translateY(0%);
}
.popup__body {
  background-color: var(--color-background);
  border-radius: 5px;
  transform: translateY(-10%);
  transition: transform 0.3s;
  margin: auto;
}
@media (max-width: 479.98px) {
  .popup__body {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    border-radius: 0px;
  }
}
.popup__top {
  box-shadow: var(--shadow);
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.popup__logo {
  width: 94px;
}
@media (max-width: 1310px) {
  .popup__logo {
    width: calc(84px + 10 * (100vw - 320px) / 990);
  }
}
.popup__logo img {
  max-width: 100%;
}
.popup__close {
  font-size: 20px;
  color: var(--color-main);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}
@media (any-hover: hover) {
  .popup__close {
    transition: background-color 0.3s;
  }
  .popup__close:hover {
    background-color: #f2f3f5;
  }
}
.popup__content {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.popup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.popup-form__item {
  background-color: #f2f3f5;
  color: rgba(12, 6, 26, 0.8);
  border-radius: 5px;
  padding: 15px;
  min-width: 265px;
}
.popup-form__input {
  background-color: transparent;
  width: 100%;
}
.popup-form__passwords {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.popup-form__password {
  background-color: #f2f3f5;
  color: rgba(12, 6, 26, 0.8);
  padding: 15px;
  border-radius: 5px;
}
.popup-form__link {
  color: var(--color-main);
  font-size: 12px;
}
.popup-form__button {
  color: var(--color-white);
  font-weight: 400;
  font-size: 16px;
  line-height: 118.75%;
  padding: 15px 25px;
  background: var(--color-main);
  border-radius: 6px;
  text-align: center;
  width: 100%;
  font-weight: 500;
}
.popup-form__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  font-size: 14px;
  padding-top: 15px;
  border-top: 1px solid #ecedee;
}
@media (max-width: 1310px) {
  .popup-form__text {
    font-size: calc(14px + 0 * (100vw - 320px) / 990);
  }
}
.popup-form__change {
  font-size: 14px;
  color: var(--color-main);
}

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
@media (max-width: 768.2px) {
  .header-wrapper._active {
    opacity: 1;
    pointer-events: all;
  }
}

.burger {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
@media (max-width: 768.2px) {
  .burger {
    display: block;
  }
}
.burger__icon {
  width: 26px;
  height: 22px;
  position: relative;
}
.burger__icon span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3.3px;
  background-color: var(--color-main);
  border-radius: 1px;
  top: 50%;
  transform: translateY(-50%);
}
.burger__icon span:first-child {
  top: 0;
  transform: none;
}
.burger__icon span:last-child {
  top: auto;
  bottom: 0;
  transform: none;
}

.burgmenu {
  z-index: 100;
  overflow: auto;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  background-color: var(--color-background);
  width: 450px;
  transition: right 0.5s;
}
@media (max-width: 1310px) {
  .burgmenu {
    width: calc(250px + 200 * (100vw - 320px) / 990);
  }
}
@media (max-width: 768.2px) {
  .burgmenu._active {
    right: 0;
  }
}
.burgmenu__body .header-menu__list {
  display: block;
}
.burgmenu__body .header-menu__link {
  margin-right: 0;
  padding: 15px;
  border-bottom: 1px solid #ecedee;
}
@media (max-width: 767.98px) {
  .burgmenu__body nav {
    display: block;
  }
}
.burgmenu__top {
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  padding: 16px;
}
.burgmenu__logo {
  width: 95px;
}
@media (max-width: 1310px) {
  .burgmenu__logo {
    width: calc(85px + 10 * (100vw - 320px) / 990);
  }
}
.burgmenu__logo img {
  max-width: 100%;
}
.burgmenu__close {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 20px;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  color: var(--color-black);
  flex: 1 1 auto;
}

._none {
  display: none;
}

.header-sublist {
  position: absolute;
  top: 80%;
  left: 0;
  padding: 10px;
  background-color: var(--color-background);
  transition: opacity 0.3s;
  overflow-wrap: normal;
}
@media (min-width: 767.98px) {
  .header-sublist {
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
    border-radius: 5px;
  }
}
@media (max-width: 767.98px) {
  .header-sublist {
    position: static;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
}
.header-sublist__item {
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .header-sublist__item {
    border-bottom: 1px solid var(--color-background);
  }
}
.header-sublist__link {
  display: block;
  padding: 10px;
}
@media (max-width: 767.98px) {
  .header-sublist__link {
    padding: 15px;
  }
}
@media (min-width: 767.98px) {
  .header-sublist__link {
    border-radius: 5px;
  }
}
@media (any-hover: hover) {
  .header-sublist__link {
    transition: color 0.3s;
  }
  .header-sublist__link:hover {
    color: var(--color-main);
  }
}
@media (max-width: 767.98px) {
  .header-sublist__link {
    background-color: #f2f3f5;
  }
}

[data-header-accordion] {
  position: relative;
}
@media (max-width: 767.98px) {
  [data-header-accordion] {
    display: block;
  }
}
@media (any-hover: hover) {
  [data-header-accordion] {
    transition: transform 0.3s;
  }
  [data-header-accordion]:hover i {
    transform: rotate(180deg) translateY(50%);
  }
}
[data-header-accordion] i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  transition: transform 0.3s;
}
@media (max-width: 767.98px) {
  [data-header-accordion] i {
    right: 15px;
  }
}
[data-header-accordion] .header-menu__link {
  position: relative;
}
@media (max-width: 767.98px) {
  [data-header-accordion] .header-menu__link {
    display: block;
  }
}
[data-header-accordion]._active [data-header-accordion-content] {
  opacity: 1;
  pointer-events: auto;
}
[data-header-accordion]._active i {
  transform: rotate(180deg) translateY(50%);
}
@media (any-hover: hover) {
  [data-header-accordion]:hover [data-header-accordion-content] {
    opacity: 1;
    pointer-events: auto;
  }
}

.swiper {
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
}
@media (max-width: 1310px) {
  .swiper {
    padding-bottom: calc(30px + 10 * (100vw - 320px) / 990);
  }
}

.swiper-wrapper {
  display: inline-flex;
}

.swiper-pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  gap: 10px;
  display: flex;
  align-items: center;
}
.swiper-pagination swiper-pagination-bullet .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid var(--color-background);
  border-radius: 100vmax;
  cursor: pointer;
}
.swiper-pagination swiper-pagination-bullet-active .swiper-pagination-bullet-active {
  background-color: var(--color-background);
}

.preloader {
  background-color: var(--color-background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
}
.preloader._close {
  display: none;
}
.preloader__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.preloader__body svg * {
  fill: var(--color-main);
}

.header {
  z-index: 500;
  box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
  position: sticky;
  top: 0px;
  background-color: var(--color-background);
  transition: background-color 0.3s, box-shadow 0.3s;
}
.header._active {
  box-shadow: var(--shadow);
}
.header._active .header__body {
  min-height: 65px;
}
@media (max-width: 1310px) {
  .header._active .header__body {
    min-height: calc(44px + 21 * (100vw - 320px) / 990);
  }
}
.header__body {
  transition: min-height 0.3s, box-shadow 0.3s;
}

.main {
  background-color: #f5f5f2;
}
.main:not(:last-child) {
  margin-bottom: 77px;
}
@media (max-width: 1310px) {
  .main:not(:last-child) {
    margin-bottom: calc(30px + 47 * (100vw - 320px) / 990);
  }
}
@media (min-width: 767.98px) {
  .main__container {
    margin-left: max(0px, (100% - 1265px) / 2 - 80px);
  }
}
.main__body {
  display: flex;
}
@media (max-width: 767.98px) {
  .main__body {
    display: block;
  }
}
.main__info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 124px;
  padding-left: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 1310px) {
  .main__info {
    padding-right: calc(5px + 119 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1440px) {
  .main__info {
    padding-left: max(30px, (100% - 1295px) / 2);
  }
}
@media (max-width: 1310px) {
  .main__info {
    padding-top: calc(15px + 15 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .main__info {
    padding-bottom: calc(15px + 15 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) {
  .main__info {
    padding-left: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 80px;
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .main__info {
    padding-left: calc(15px + 65 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .main__info {
    padding-top: calc(30px + 50 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .main__info {
    padding-bottom: calc(30px + 50 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .main__info {
    padding-right: calc(15px + 65 * (100vw - 320px) / 990);
  }
}
.main__content {
  position: relative;
  z-index: 2;
}
.main__label {
  margin-right: auto;
}
.main__label:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 1310px) {
  .main__label:not(:last-child) {
    margin-bottom: calc(15px + 5 * (100vw - 320px) / 990);
  }
}
.main__title {
  font-size: 56px;
  line-height: 119.6428571429%;
  max-width: 516px;
}
@media (max-width: 1310px) {
  .main__title {
    font-size: calc(31px + 25 * (100vw - 320px) / 990);
  }
}
@media (min-width: 767.98px) {
  .main__title {
    font-size: 56px;
  }
}
@media (min-width: 767.98px) and (max-width: 1310px) {
  .main__title {
    font-size: calc(10px + 46 * (100vw - 320px) / 990);
  }
}
.main__title:not(:last-child) {
  margin-bottom: 21px;
}
@media (max-width: 1310px) {
  .main__title:not(:last-child) {
    margin-bottom: calc(15px + 6 * (100vw - 320px) / 990);
  }
}
.main__text {
  color: var(--color-gray);
  font-size: 20px;
  line-height: 150%;
  max-width: 503px;
}
@media (max-width: 1310px) {
  .main__text {
    font-size: calc(16px + 4 * (100vw - 320px) / 990);
  }
}
.main__text:not(:last-child) {
  margin-bottom: 21px;
}
@media (max-width: 1310px) {
  .main__text:not(:last-child) {
    margin-bottom: calc(15px + 6 * (100vw - 320px) / 990);
  }
}
.main__image {
  max-width: 720px;
  overflow: hidden;
}
@media (max-width: 1310px) {
  .main__image {
    max-width: calc(360px + 360 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) {
  .main__image {
    max-width: 100%;
  }
}
.main__image img {
  width: 100%;
}
@media (max-width: 858px) {
  .main__image {
    position: relative;
    padding-right: 720px;
  }
}
@media (max-width: 858px) and (max-width: 1310px) {
  .main__image {
    padding-right: calc(50px + 670 * (100vw - 320px) / 990);
  }
}
@media (max-width: 858px) {
  .main__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 767.98px) {
  .main__image {
    padding-right: 100%;
    padding-bottom: 100%;
  }
}
@media (any-hover: hover) {
  .main__image img {
    transition: transform 0.3s;
    width: 100%;
  }
  .main__image:hover img {
    transform: scale(1.03);
  }
}

.beast:not(:last-child) {
  margin-bottom: 150px;
}
@media (max-width: 1310px) {
  .beast:not(:last-child) {
    margin-bottom: calc(30px + 120 * (100vw - 320px) / 990);
  }
}
.beast__body {
  justify-content: space-between;
}
@media (max-width: 891.98px) {
  .beast__body {
    display: block;
  }
}
.beast__text {
  max-width: 243px;
}
@media (max-width: 891.98px) {
  .beast__text:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 891.98px) and (max-width: 1310px) {
  .beast__text:not(:last-child) {
    margin-bottom: calc(15px + 15 * (100vw - 320px) / 990);
  }
}
.beast__icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
@media (max-width: 1310px) {
  .beast__icons {
    gap: calc(5px + 27 * (100vw - 320px) / 990);
  }
}
@media (max-width: 551.98px) {
  .beast__icons {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (any-hover: hover) {
  .beast__icon svg path {
    transition: fill 0.3s;
  }
  .beast__icon:hover svg path {
    fill: var(--color-main);
  }
}

.works:not(:last-child) {
  margin-bottom: 128px;
}
@media (max-width: 1310px) {
  .works:not(:last-child) {
    margin-bottom: calc(30px + 98 * (100vw - 320px) / 990);
  }
}
.works__content {
  text-align: center;
}
.works__content:not(:last-child) {
  margin-bottom: 61px;
}
@media (max-width: 1310px) {
  .works__content:not(:last-child) {
    margin-bottom: calc(30px + 31 * (100vw - 320px) / 990);
  }
}
.works__title:not(:last-child) {
  margin-bottom: 21px;
}
.works__text {
  max-width: 754px;
  margin: 0px auto;
}

.works-columns {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 32px;
}
@media (max-width: 1310px) {
  .works-columns {
    gap: calc(5px + 27 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) {
  .works-columns {
    display: block;
  }
}
.works-columns__item {
  border-radius: 16px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 33px;
  padding-right: 33px;
}
@media (max-width: 1310px) {
  .works-columns__item {
    padding-top: calc(5px + 43 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .works-columns__item {
    padding-bottom: calc(5px + 43 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .works-columns__item {
    padding-left: calc(5px + 28 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .works-columns__item {
    padding-right: calc(5px + 28 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) {
  .works-columns__item {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 33px;
    padding-right: 33px;
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .works-columns__item {
    padding-top: calc(30px + 18 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .works-columns__item {
    padding-bottom: calc(30px + 18 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .works-columns__item {
    padding-left: calc(30px + 3 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .works-columns__item {
    padding-right: calc(30px + 3 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) {
  .works-columns__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .works-columns__item:not(:last-child) {
    margin-bottom: calc(15px + 15 * (100vw - 320px) / 990);
  }
}
.works-columns__icon {
  margin-left: auto;
  margin-right: auto;
}
.works-columns__icon:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 1310px) {
  .works-columns__icon:not(:last-child) {
    margin-bottom: calc(10px + 14 * (100vw - 320px) / 990);
  }
}
.works-columns__title {
  max-width: 404px;
  margin: 0px auto;
}
.works-columns__title:not(:last-child) {
  margin-bottom: 17px;
}
@media (max-width: 1310px) {
  .works-columns__title:not(:last-child) {
    margin-bottom: calc(10px + 7 * (100vw - 320px) / 990);
  }
}
.works-columns__text {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 338px;
  margin: 0px auto;
}

.comfort:not(:last-child) {
  margin-bottom: 128px;
}
@media (max-width: 1310px) {
  .comfort:not(:last-child) {
    margin-bottom: calc(30px + 98 * (100vw - 320px) / 990);
  }
}
.comfort__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
@media (max-width: 767.98px) {
  .comfort__body {
    display: block;
  }
}
@media (max-width: 1310px) {
  .comfort__body {
    gap: calc(15px + 65 * (100vw - 320px) / 990);
  }
}
.comfort__body.comfort-reverse {
  flex-direction: row-reverse;
}
.comfort__info {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 1310px) {
  .comfort__info {
    padding-top: calc(30px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .comfort__info {
    padding-bottom: calc(30px + 0 * (100vw - 320px) / 990);
  }
}
.comfort__label:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 1310px) {
  .comfort__label:not(:last-child) {
    margin-bottom: calc(10px + 10 * (100vw - 320px) / 990);
  }
}
.comfort__title {
  max-width: 453px;
}
.comfort__title:not(:last-child) {
  margin-bottom: 28px;
}
@media (max-width: 1310px) {
  .comfort__title:not(:last-child) {
    margin-bottom: calc(15px + 13 * (100vw - 320px) / 990);
  }
}
.comfort__text {
  max-width: 520px;
}
.comfort__text:not(:last-child) {
  margin-bottom: 21px;
}
@media (max-width: 1310px) {
  .comfort__text:not(:last-child) {
    margin-bottom: calc(10px + 11 * (100vw - 320px) / 990);
  }
}
.comfort__image {
  max-width: 600px;
  border-radius: 16px;
  overflow: hidden;
  overflow: hidden;
}
@media (max-width: 1310px) {
  .comfort__image {
    max-width: calc(300px + 300 * (100vw - 320px) / 990);
  }
}
.comfort__image img {
  width: 100%;
}
@media (max-width: 767.98px) {
  .comfort__image {
    max-width: 100%;
  }
}
@media (any-hover: hover) {
  .comfort__image img {
    transition: transform 0.3s;
    width: 100%;
  }
  .comfort__image:hover img {
    transform: scale(1.03);
  }
}

.comfort-content {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
@media (max-width: 1310px) {
  .comfort-content {
    gap: calc(24px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 424.98px) {
  .comfort-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.comfort-content:not(:last-child) {
  margin-bottom: 29px;
}
@media (max-width: 1310px) {
  .comfort-content:not(:last-child) {
    margin-bottom: calc(15px + 14 * (100vw - 320px) / 990);
  }
}
.comfort-content__icon:not(:last-child) {
  margin-bottom: 16px;
}
@media (max-width: 1310px) {
  .comfort-content__icon:not(:last-child) {
    margin-bottom: calc(10px + 6 * (100vw - 320px) / 990);
  }
}
.comfort-content__title {
  max-width: 169px;
}
.comfort-content__title:not(:last-child) {
  margin-bottom: 18px;
}
@media (max-width: 1310px) {
  .comfort-content__title:not(:last-child) {
    margin-bottom: calc(10px + 8 * (100vw - 320px) / 990);
  }
}
.comfort-content__text {
  max-width: 245px;
}

.properties {
  max-width: 1440px;
  margin: 0px auto;
  position: relative;
  padding-top: 132px;
  padding-bottom: 160px;
}
@media (max-width: 1310px) {
  .properties {
    padding-top: calc(30px + 102 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .properties {
    padding-bottom: calc(30px + 130 * (100vw - 320px) / 990);
  }
}
.properties__body {
  position: relative;
  z-index: 2;
}
.properties__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.properties__info:not(:last-child) {
  margin-bottom: 81px;
}
@media (max-width: 1310px) {
  .properties__info:not(:last-child) {
    margin-bottom: calc(30px + 51 * (100vw - 320px) / 990);
  }
}
.properties__label:not(:last-child) {
  margin-bottom: 21px;
}
@media (max-width: 1310px) {
  .properties__label:not(:last-child) {
    margin-bottom: calc(10px + 11 * (100vw - 320px) / 990);
  }
}
.properties__row {
  justify-content: center;
}

.properties-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 1310px) {
  .properties-columns {
    gap: calc(5px + 25 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) {
  .properties-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 551.98px) {
  .properties-columns {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 424.98px) {
  .properties-columns {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}
.properties-columns:not(:last-child) {
  margin-bottom: 79px;
}
@media (max-width: 1310px) {
  .properties-columns:not(:last-child) {
    margin-bottom: calc(30px + 49 * (100vw - 320px) / 990);
  }
}
.properties-columns__item {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.properties-columns__image {
  max-width: 100%;
  overflow: hidden;
}
.properties-columns__image img {
  width: 100%;
}
@media (any-hover: hover) {
  .properties-columns__image img {
    transition: transform 0.3s;
    width: 100%;
  }
  .properties-columns__image:hover img {
    transform: scale(1.03);
  }
}
.properties-columns__content {
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 23px;
  padding-bottom: 23px;
}
@media (max-width: 1310px) {
  .properties-columns__content {
    padding-left: calc(5px + 18 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .properties-columns__content {
    padding-right: calc(5px + 18 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .properties-columns__content {
    padding-top: calc(5px + 18 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .properties-columns__content {
    padding-bottom: calc(5px + 18 * (100vw - 320px) / 990);
  }
}
@media (max-width: 551.98px) {
  .properties-columns__content {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 23px;
    padding-bottom: 23px;
  }
}
@media (max-width: 551.98px) and (max-width: 1310px) {
  .properties-columns__content {
    padding-left: calc(15px + 8 * (100vw - 320px) / 990);
  }
}
@media (max-width: 551.98px) and (max-width: 1310px) {
  .properties-columns__content {
    padding-right: calc(15px + 8 * (100vw - 320px) / 990);
  }
}
@media (max-width: 551.98px) and (max-width: 1310px) {
  .properties-columns__content {
    padding-top: calc(15px + 8 * (100vw - 320px) / 990);
  }
}
@media (max-width: 551.98px) and (max-width: 1310px) {
  .properties-columns__content {
    padding-bottom: calc(15px + 8 * (100vw - 320px) / 990);
  }
}
.properties-columns__title {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.properties-columns__title:not(:last-child) {
  margin-bottom: 3px;
}
.properties-columns__text {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.properties-columns__text:not(:last-child) {
  margin-bottom: 16px;
}
@media (max-width: 1310px) {
  .properties-columns__text:not(:last-child) {
    margin-bottom: calc(10px + 6 * (100vw - 320px) / 990);
  }
}
.properties-columns__span {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}
.properties-columns__row {
  gap: 24px;
  margin-top: 16px;
}
@media (max-width: 1310px) {
  .properties-columns__row {
    gap: calc(10px + 14 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .properties-columns__row {
    margin-top: calc(10px + 6 * (100vw - 320px) / 990);
  }
}

.locations:not(:last-child) {
  margin-bottom: 127px;
}
@media (max-width: 1310px) {
  .locations:not(:last-child) {
    margin-bottom: calc(30px + 97 * (100vw - 320px) / 990);
  }
}
.locations__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.locations__info:not(:last-child) {
  margin-bottom: 72px;
}
@media (max-width: 1310px) {
  .locations__info:not(:last-child) {
    margin-bottom: calc(30px + 42 * (100vw - 320px) / 990);
  }
}
.locations__title:not(:last-child) {
  margin-bottom: 25px;
}
@media (max-width: 1310px) {
  .locations__title:not(:last-child) {
    margin-bottom: calc(15px + 10 * (100vw - 320px) / 990);
  }
}
.locations__text {
  max-width: 713px;
}
.locations__row {
  justify-content: center;
}

.locations-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
@media (max-width: 1310px) {
  .locations-columns {
    gap: calc(5px + 11 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) {
  .locations-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 551.98px) {
  .locations-columns {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 551.98px) {
  .locations-columns {
    gap: 15px;
  }
}
.locations-columns:not(:last-child) {
  margin-bottom: 79px;
}
@media (max-width: 1310px) {
  .locations-columns:not(:last-child) {
    margin-bottom: calc(30px + 49 * (100vw - 320px) / 990);
  }
}
.locations-columns__item {
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 33px;
  padding-right: 33px;
}
@media (max-width: 1310px) {
  .locations-columns__item {
    padding-top: calc(20px + 13 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .locations-columns__item {
    padding-bottom: calc(20px + 13 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .locations-columns__item {
    padding-left: calc(20px + 13 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .locations-columns__item {
    padding-right: calc(20px + 13 * (100vw - 320px) / 990);
  }
}
.locations-columns__title {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 0 auto;
}
.locations-columns__title:not(:last-child) {
  margin-bottom: 11px;
}
.locations-columns__span {
  margin-right: 10px;
}
.priority {
  position: relative;
}
.priority::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  z-index: 1;
}
.priority:not(:last-child) {
  margin-bottom: 157px;
}
@media (max-width: 1310px) {
  .priority:not(:last-child) {
    margin-bottom: calc(30px + 127 * (100vw - 320px) / 990);
  }
}
.priority__body {
  background-color: var(--color-green);
  border-radius: 24px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 95px;
  padding-bottom: 95px;
  padding-left: 95px;
  padding-right: 95px;
}
@media (max-width: 1310px) {
  .priority__body {
    padding-top: calc(30px + 65 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .priority__body {
    padding-bottom: calc(30px + 65 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .priority__body {
    padding-left: calc(20px + 75 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .priority__body {
    padding-right: calc(20px + 75 * (100vw - 320px) / 990);
  }
}
.priority__icon:not(:last-child) {
  margin-bottom: 13px;
}
.priority__title {
  color: var(--color-white);
}
.priority__title:not(:last-child) {
  margin-bottom: 29px;
}
@media (max-width: 1310px) {
  .priority__title:not(:last-child) {
    margin-bottom: calc(15px + 14 * (100vw - 320px) / 990);
  }
}
.priority__text {
  color: var(--color-white);
  max-width: 765px;
}
.priority__text:not(:last-child) {
  margin-bottom: 21px;
}
@media (max-width: 1310px) {
  .priority__text:not(:last-child) {
    margin-bottom: calc(10px + 11 * (100vw - 320px) / 990);
  }
}
.priority__button {
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 1310px) {
  .priority__button {
    padding-left: calc(25px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .priority__button {
    padding-right: calc(25px + 0 * (100vw - 320px) / 990);
  }
}

.customers:not(:last-child) {
  margin-bottom: 160px;
}
@media (max-width: 1310px) {
  .customers:not(:last-child) {
    margin-bottom: calc(30px + 130 * (100vw - 320px) / 990);
  }
}
.customers__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.customers__info:not(:last-child) {
  margin-bottom: 79px;
}
@media (max-width: 1310px) {
  .customers__info:not(:last-child) {
    margin-bottom: calc(30px + 49 * (100vw - 320px) / 990);
  }
}
.customers__title:not(:last-child) {
  margin-bottom: 26px;
}
@media (max-width: 1310px) {
  .customers__title:not(:last-child) {
    margin-bottom: calc(15px + 11 * (100vw - 320px) / 990);
  }
}
.customers-columns {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
@media (max-width: 1310px) {
  .customers-columns {
    gap: calc(5px + 27 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) {
  .customers-columns {
    display: block;
  }
}
.customers-columns__item {
  box-shadow: var(--shadow);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 33px;
  padding-right: 33px;
}
@media (max-width: 1310px) {
  .customers-columns__item {
    padding-top: calc(5px + 28 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .customers-columns__item {
    padding-bottom: calc(5px + 28 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .customers-columns__item {
    padding-left: calc(5px + 28 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .customers-columns__item {
    padding-right: calc(5px + 28 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) {
  .customers-columns__item {
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 33px;
    padding-right: 33px;
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .customers-columns__item {
    padding-top: calc(20px + 13 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .customers-columns__item {
    padding-bottom: calc(20px + 13 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .customers-columns__item {
    padding-left: calc(20px + 13 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .customers-columns__item {
    padding-right: calc(20px + 13 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) {
  .customers-columns__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .customers-columns__item:not(:last-child) {
    margin-bottom: calc(15px + 17 * (100vw - 320px) / 990);
  }
}
.customers-columns__icons {
  display: flex;
  align-items: center;
  gap: 3px;
}
.customers-columns__icons:not(:last-child) {
  margin-bottom: 27px;
}
@media (max-width: 1310px) {
  .customers-columns__icons:not(:last-child) {
    margin-bottom: calc(15px + 12 * (100vw - 320px) / 990);
  }
}
.customers-columns__text {
  max-width: 338px;
  flex: 1 0 auto;
}
.customers-columns__text:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1310px) {
  .customers-columns__text:not(:last-child) {
    margin-bottom: calc(15px + 15 * (100vw - 320px) / 990);
  }
}

.customers-content {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 1310px) {
  .customers-content {
    gap: calc(10px + 6 * (100vw - 320px) / 990);
  }
}
.customers-content__image {
  max-width: 48px;
  border-radius: 100vmax;
  overflow: hidden;
}
@media (max-width: 1310px) {
  .customers-content__image {
    max-width: calc(43px + 5 * (100vw - 320px) / 990);
  }
}
.customers-content__image img {
  width: 100%;
}
.customers-content__title {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.customers-content__text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog:not(:last-child) {
  margin-bottom: 127px;
}
@media (max-width: 1310px) {
  .blog:not(:last-child) {
    margin-bottom: calc(30px + 97 * (100vw - 320px) / 990);
  }
}
.blog__info:not(:last-child) {
  margin-bottom: 76px;
}
@media (max-width: 1310px) {
  .blog__info:not(:last-child) {
    margin-bottom: calc(20px + 56 * (100vw - 320px) / 990);
  }
}
.blog__label:not(:last-child) {
  margin-bottom: 21px;
}
@media (max-width: 1310px) {
  .blog__label:not(:last-child) {
    margin-bottom: calc(10px + 11 * (100vw - 320px) / 990);
  }
}
.blog__title:not(:last-child) {
  margin-bottom: 29px;
}
@media (max-width: 1310px) {
  .blog__title:not(:last-child) {
    margin-bottom: calc(15px + 14 * (100vw - 320px) / 990);
  }
}
.blog__row {
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .blog__row {
    display: block;
  }
}
.blog__text {
  max-width: 710px;
}
@media (max-width: 767.98px) {
  .blog__text:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .blog__text:not(:last-child) {
    margin-bottom: calc(15px + 15 * (100vw - 320px) / 990);
  }
}
.blog__button {
  border-radius: 6px;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 1310px) {
  .blog__button {
    padding-top: calc(13px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .blog__button {
    padding-bottom: calc(13px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .blog__button {
    padding-left: calc(25px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .blog__button {
    padding-right: calc(25px + 0 * (100vw - 320px) / 990);
  }
}
@media (any-hover: hover) {
  .blog__button {
    transition: background-color 0.3s;
  }
  .blog__button:hover {
    background-color: #f8f8f8;
  }
}

.blog-columns {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
@media (max-width: 1310px) {
  .blog-columns {
    gap: calc(5px + 27 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) {
  .blog-columns {
    display: block;
    gap: 32px;
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .blog-columns {
    gap: calc(15px + 17 * (100vw - 320px) / 990);
  }
}
.blog-columns__item {
  box-shadow: var(--shadow);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .blog-columns__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .blog-columns__item:not(:last-child) {
    margin-bottom: calc(15px + 15 * (100vw - 320px) / 990);
  }
}
.blog-columns__image {
  max-width: 100%;
  overflow: hidden;
}
.blog-columns__image img {
  width: 100%;
}
@media (any-hover: hover) {
  .blog-columns__image img {
    transition: transform 0.3s;
    width: 100%;
  }
  .blog-columns__image:hover img {
    transform: scale(1.03);
  }
}
.blog-columns__content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  max-width: 405px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
@media (max-width: 1310px) {
  .blog-columns__content {
    padding-top: calc(5px + 19 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .blog-columns__content {
    padding-bottom: calc(5px + 19 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .blog-columns__content {
    padding-left: calc(5px + 19 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .blog-columns__content {
    padding-right: calc(5px + 19 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) {
  .blog-columns__content {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .blog-columns__content {
    padding-top: calc(15px + 9 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .blog-columns__content {
    padding-bottom: calc(15px + 9 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .blog-columns__content {
    padding-left: calc(15px + 9 * (100vw - 320px) / 990);
  }
}
@media (max-width: 767.98px) and (max-width: 1310px) {
  .blog-columns__content {
    padding-right: calc(15px + 9 * (100vw - 320px) / 990);
  }
}
.blog-columns__row {
  gap: 16px;
}
@media (max-width: 1310px) {
  .blog-columns__row {
    gap: calc(10px + 6 * (100vw - 320px) / 990);
  }
}
.blog-columns__row:not(:last-child) {
  margin-bottom: 16px;
}
@media (max-width: 1310px) {
  .blog-columns__row:not(:last-child) {
    margin-bottom: calc(10px + 6 * (100vw - 320px) / 990);
  }
}
.blog-columns__label {
  border-radius: 100vmax;
  background-color: #fae8e1;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
@media (max-width: 1310px) {
  .blog-columns__label {
    padding-top: calc(4px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .blog-columns__label {
    padding-bottom: calc(4px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .blog-columns__label {
    padding-left: calc(8px + 0 * (100vw - 320px) / 990);
  }
}
@media (max-width: 1310px) {
  .blog-columns__label {
    padding-right: calc(8px + 0 * (100vw - 320px) / 990);
  }
}
.blog-columns__title {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 349px;
  margin-bottom: 9px;
}
.blog-columns__text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 319px;
  flex: 1 0 auto;
}
.blog-columns__text:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1310px) {
  .blog-columns__text:not(:last-child) {
    margin-bottom: calc(15px + 15 * (100vw - 320px) / 990);
  }
}
.blog-columns__set {
  display: inline-flex;
}
@media (any-hover: hover) {
  .blog-columns__set svg path {
    transition: fill 0.3s;
  }
  .blog-columns__set:hover svg path {
    fill: var(--color-main);
  }
  .blog-columns__set:hover .blog-columns__span {
    color: var(--color-main);
  }
}
.blog-columns__span {
  transition: color 0.3s;
  margin-right: 10px;
}